= image_tag @post.image.url(:medium)
%h1= @post.title
%p= @post.name
%p= @post.link
%p= @post.description
%p= @post.user.name

# comment
  %h2.comment_count = pluraliza(@post.comments.count)


= link_to "EDIT", edit_post_path(@post)
= link_to "DELETE", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }
= link_to "HOME", root_path